<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
    "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

  <!-- ====================================== APPENDERS =================================== -->

  <appender name="melm-file" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="${pssu.home}/tomcat/logs/melmservice.log" />
    <param name="MaxFileSize" value="500KB" />
    <param name="MaxBackupIndex" value="20" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d{yy-MM-dd HH:mm:ss}: %m (%F:%L) [%t]%n" />
    </layout>
  </appender>

  <!-- ===================================== PACKAGE-LEVEL logging settings =================================== -->

  <!-- Hibernate -->
  <logger name="org.hibernate" additivity="false">
    <level value="info" />
    <appender-ref ref="melm-file" />
  </logger>
  <logger name="org.postgresql" additivity="false">
    <level value="info" />
    <appender-ref ref="melm-file" />
  </logger>

  <!-- Hibernate generated SQL -->
  <logger name="org.hibernate.SQL" additivity="false">
    <level value="debug" />
    <appender-ref ref="melm-file" />
  </logger>

  <!-- Hibernate abstract syntax trees for parsing predefined JPQL queries -->
  <logger name="org.hibernate.hql.ast" additivity="false">
    <level value="info" />
    <appender-ref ref="melm-file" />
  </logger>
  <logger name="org.apache.http" additivity="false">
    <level value="info" />
    <appender-ref ref="melm-file" />
  </logger>

  <!-- c3p0 -->
  <logger name="com.mchange" additivity="false">
    <level value="info" />
    <appender-ref ref="melm-file" />
  </logger>

  <!-- Spring -->
  <logger name="org.springframework" additivity="false">
    <level value="info" />
    <appender-ref ref="melm-file" />
  </logger>

  <!-- MELM -->
  <logger name="lu.hitec.pssu.melm" additivity="false">
    <level value="debug" />
    <appender-ref ref="melm-file" />
  </logger>

  <!-- ROOT Logger settings -->
  <root>
    <priority value="debug"></priority>
    <appender-ref ref="melm-file" />
  </root>

</log4j:configuration>
